body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #c31432, #240b36);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  background: white;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  width: 100%;
}

.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 5px;
}

.input-box input {
  border: none;
  outline: none;
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.input-box svg {
  margin-right: 8px;
  color: #888;
}

.forgot {
  display: block;
  font-size: 12px;
  margin-bottom: 15px;
  color: #555;
  text-decoration: none;
  text-align: right;
}

.login-btn {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #c31432, #240b36);
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-btn:hover {
  background: linear-gradient(to right, #240b36, #c31432);
}
